@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}

th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul,
ol,
dir,
menu {
  list-style: none;
}

sub,
sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

body .main-container {
  width: 100%;
  margin: 0 auto;
}

body header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background: #77A6F7;
  border: 1px solid #00887A;
  z-index: 1;
  font: 1.2em "Kosugi Maru", sans-serif;
}

body .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  min-height: 100vh;
  overflow: hidden;
}

body .main-content .loader {
  font-size: 40px;
  padding: 0 200px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slider;
          animation-name: slider;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slider {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slider {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body .main-content .card_list {
  position: relative;
  top: 0px;
  left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 94%;
          flex: 0 1 94%;
}

body .main-content .card_list .card_content {
  overflow: hidden;
  margin: 0 7px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 230px;
  border: 1px solid #00887A;
  -webkit-box-shadow: 2px 2px 2px #00887A;
          box-shadow: 2px 2px 2px #00887A;
}

body .main-content .card_list .card_content:hover {
  -webkit-box-shadow: 3px 3px 7px #00887A;
          box-shadow: 3px 3px 7px #00887A;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main-content .card_list .card_content:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main-content .card_list .card_content img {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main-content .card_list .card_content button {
  position: relative;
  top: -160px;
  left: 220px;
  width: 20px;
  height: 20px;
}

body .main-content .card_list .card_content button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main-content .card_list .card_content button:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

body .main-content .card_list .card_content p {
  padding: 3px;
  margin: -3px 2px;
}

body .main-content .card_list .card_content p:first-of-type {
  margin-top: -20px;
}

body .main-content .card_list .tree_list {
  margin: 0 25px;
  font-size: 1.3em;
}

body .main-content .card_list .tree_list:hover {
  cursor: pointer;
}

body .main-content .card_list .tree_list div > * {
  width: 160px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1em;
}

body .main-content .card_list .tree_list div > * li {
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: 2px dashed black;
}

body .main-content .card_list .tree_list div > * img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main-content .card_list .tree_list div:first-of-type {
  margin-left: -10px;
  font-size: 30px;
  font-weight: bold;
}

body .main-content .filters {
  margin-right: 7px;
  position: fixed;
  top: 40;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  border: 1px solid #00887A;
  border-radius: 5px;
  width: 130px;
}

body .main-content .filters .sort_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 230px;
}

body .main-content .filters .sort_block .sort_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0;
}

body .main-content .filters .navigation {
  margin: 0 auto;
}

body .main-content .filters .navigation p {
  text-align: center;
}

body .main-content .not_available {
  opacity: 0.2;
}

body .main-content .deleted_card {
  opacity: 0;
}

body footer {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #00887A;
  padding: 5px;
  font: 1.2em "Kosugi Maru", sans-serif;
}

.category_list {
  padding: 3px 20px;
  font-size: 0.8em;
}

.fullScreenImage {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.464);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullScreenImage img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  margin: auto;
  border: 2px solid black;
  max-height: 90%;
  max-width: 90%;
}

.zoom_in_img img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.hide_image {
  display: none;
}
/*# sourceMappingURL=index.css.map */