* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}

th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: """";
}

ul,
ol,
dir,
menu {
  list-style: none;
}

sub,
sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

// Конец обнуления стилей

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

$banners_font: 1.2em 'Kosugi Maru', sans-serif;
$banners_color: black;

body {

  .main-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }


  header {
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 5px;
    background: #77A6F7;
    border: 1px solid #00887A;
    z-index: 1;
    font: $banners_font;

  }

  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;

    .loader {
      font-size: 40px;
      padding: 0 200px;
      animation-duration: 1s;
      animation-name: slider;
      animation-iteration-count: infinite;

      @keyframes slider {
        from {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }
    }

    .card_list {
      width: 100%;
      height: 100%;
      position: relative;
      top: 30px;
      left: 145px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 45px;

      @media (max-width: 680px) {
        flex: 0 1 78%;
      }

      @media (min-width: 600px) {
        flex: 0 1 79%;
      }

      @media (min-width: 900px) {
        flex: 0 1 85%;
      }

      @media (min-width: 1200px) {
        flex: 0 1 90%;
      }

      @media (min-width: 1900px) {
        flex: 0 1 93%;
      }

      .card_content {
        overflow: hidden;
        margin: 0 7px 14px;
        display: flex;
        flex-direction: column;
        width: 240px;
        height: 230px;
        border: 1px solid #00887A;
        box-shadow: 2px 2px 2px #00887A;

        &:hover {
          box-shadow: 3px 3px 7px #00887A;
          transform: scale(1.05);
          transition: 0.5s;

        }

        &:not(:hover) {
          transition: 0.5s;
        }


        img {
          width: 100%;
          min-height: 160px;
          max-height: 160px;
          object-fit: cover;

        }

        button {
          position: relative;
          top: -160px;
          left: 220px;
          width: 20px;
          height: 20px;

          &:hover {
            transform: scale(1.2);
            transition: 0.5s;
          }

          &:not(:hover) {
            transition: 1s;
          }
        }

        p {
          padding: 3px;
          margin: -3px 2px;
        }

        p:first-of-type {
          margin-top: -20px;
        }
      }

      .tree_list {

        margin: 0 25px;
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }

        div>* {
          width: 160px;
          margin-left: 10px;
          margin-top: 5px;
          font-size: 1em;

          li {
            padding-left: 10px;
            margin-bottom: 15px;
            border-left: 2px dashed black;
          }

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        div:first-of-type {
          margin-left: -10px;
          font-size: 30px;
          font-weight: bold;

        }

      }
    }

  }

  .not_available {
    opacity: 0.2;
  }

  .deleted_card {
    opacity: 0;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #00887A;
    padding: 5px;
    font: $banners_font;
  }
}

.filters {
  margin-right: 7px;
  position: fixed;
  left: 10px;
  top: 40px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid #00887A;
  border-radius: 5px;
  width: 130px;

  .sort_block {
    display: flex;
    flex-direction: column;
    height: 230px;

    .sort_direction {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
    }
  }

  .navigation {
    margin: 0 auto;

    p {
      text-align: center;
    }
  }
}


.category_list {
  padding: 3px 20px;
  font-size: 0.8em;
}

.fullScreenImage {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.464);
  display: flex;
  justify-content: center;

  img {
    cursor: zoom-in;
    margin: auto;
    border: 2px solid black;
    max-height: 90%;
    max-width: 90%;
  }
}

.zoom_in_img {
  img {
    cursor: zoom-out;
    transform: scale(1.4);
  }
}

.hide_image {
  display: none;
}